body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.chat-container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* User List Section */
.user-list {
    width: 250px;
    background-color: white;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.back-button {
    background: none;
    border: none;
    font-size: 16px;
    color: #007bff;
    cursor: pointer;
    margin-bottom: 10px;
}

.user-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.user-item:hover {
    background-color: #f0f0f0;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
}

/* Chat Window Section */
.chat-window {
    flex: 1;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.chat-header h2 {
    margin: 0;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.chat-message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.chat-message.sent {
    color: white;
    justify-content: flex-end;
    background-color: #4c5255;
}

.chat-message.received {
    background-color: #e8f0fe;
}

.message-content {
    margin-right: 0.5%;
    margin-left: 10px;
    max-width: 80%;
}

.message-timestamp {
    font-size: 0.6em;
    color: #ffffff;
}

.input-area {
    display: flex;
    padding: 10px;
    border-top: 1px solid #eee;
}

.input-field {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 85%;
}

.send-button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #0056b3;
}

/* User Profile Section */
.user-profile {
    width: 250px; /* Increase width for more space */
    background-color: white;
    padding: 20px;
    border-left: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-avatar {
    width: 120px; /* Enlarged avatar size */
    height: 120px;
    border-radius: 50%;
    border: 3px solid #007bff; /* Thicker border */
    margin-bottom: 10px;
}

.profile-name {
    font-size: 1.5em; /* Increase font size for the name */
    font-weight: bold;
    text-decoration: none;
    color: #007bff;
    margin-top: 10px;
}

.profile-name:hover {
    text-decoration: underline;
}
