@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #ececec;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.navbar-left h2 {
    font-size: 24px;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-links li {
    margin: 0 10px;
    cursor: pointer;
}

.nav-links img {
    width: 24px;
    height: 24px;
}

.search {
    position: relative;
    width: max-content;
    display: flex;
    align-items: center;
}

.search-icon {
    position: absolute;
    left: 15px; 
    top: 50%;
    transform: translateY(-50%);
    color: gray;
    font-size: 18px;
}
.search-bar {
    font-size: 13px;
    padding: 8px 15px 8px 40px; 
    border: none;
    border-radius: 20px;
    width: 530px;
}

/* Profile Menu */
.profile {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sub-menu-wrap {
    position: absolute;
    top: 60px;
    right: 20px;
    display: none;
    background: #fff;
    width: 250px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.sub-menu-wrap.open-menu {
    display: block;
}

.sub-menu {
    padding: 10px;
}

.sub-menu .user-info {
    display: flex;
    align-items: center;
}

.sub-menu .user-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.sub-menu .user-info h2 {
    font-size: 18px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    color: #333;
    padding: 10px 0;
    text-decoration: none;
    cursor: pointer;
}

.sub-menu-link img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.nav-links .fa-bell {
    position: relative;
    cursor: pointer;
    font-size: 25px;
    color: #605dff;
}

.nav-links .fa-bell .dropdown {
    position: absolute;
    right: 0;
    top: 40px;
    width: 300px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.125);
    display: none;
    transition: 0.5s ease;
}

.nav-links .fa-bell .dropdown.active {
    display: block;
    transition: 0.5s ease-in;
}

.nav-links .fa-bell .dropdown:before {
    content: "";
    position: absolute;
    top: -10px;
    right: 15px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
}

.nav-links .fa-bell .dropdown .notify_item {
    display: flex;
    font-size: 18px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #dbdaff;
}

.nav-links .fa-bell .dropdown .notify_item:last-child {
    border-bottom: none;
}

.nav-links .fa-bell .dropdown .notify_item .notify_img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
.nav-links .fa-bell .dropdown .notify_item .notify_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.nav-links .fa-bell .dropdown .notify_item .notify_info p {
    margin-bottom: 5px;
    font-size: medium;
}

.nav-links .fa-bell .dropdown .notify_item .notify_info p span {
    color: black;
    margin-left: 5px;
}

.nav-links .fa-bell .dropdown .notify_item .notify_info .notify_time {
    color: #c5c5e6;
    font-size: 12px;
}

/* Miscellaneous */
hr {
    border: none;
    border-top: 1px solid #ececec;
    margin: 10px 0;
}
