* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    box-sizing: border-box;
    min-height: 100vh;
}

.navbar {
    width: 100%;
    background-color: #494F55;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-left {
    flex: 1;
}
  
.search {
    display: flex;
    align-items: center;
    position: relative;
    flex: 2;
    justify-content: center;
}

.search-icon {
    position: absolute;
    left: 15px; 
    top: 50%;
    transform: translateY(-50%);
    color: grey;
    font-size: 18px;
  }
.search-bar {
    font-size: 18px;
    padding: 8px 15px 8px 40px; 
    border: none;
    border-radius: 20px;
    width: 430px;
  }
.search-bar::placeholder {
    color: rgba(0, 0, 0, 0.25);
  }

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    flex: 1;
    justify-content: flex-end;
}
.profile {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
}

.sub-menu-wrap {
    position: absolute;
    top: 10%;
    right: 20px;
    width: 320px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu {
    max-height: 400px;
}
.sub-menu {
    background: rgba(255, 255, 255, 0.25);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.user-info {
    display: flex;
    align-items: center;
}
.user-info h2 {
    font-weight: 500;
}
.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 15px 0;
}
.sub-menu-link p {
    width: 100%;
}
.sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s ease;
}
.sub-menu-link span:hover {
    transform: translateX(5px);
}
.sub-menu-link:hover p {
    font-weight: 700;
}
.hero {
    width: 100%;
    min-height: 100vh;
    background: #eceaff;
    color: #525252;
    padding-top: 100px; 
}

  .navbar-right a {
    margin-right: 35px;
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  
  .navbar-right a:hover {
    text-decoration: underline;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
}
.wrap header{
    width: 100%;
    background: url('Resources/bg.png') no-repeat;
    min-height: calc(100px + 15vw);
}
.wrap .in_container .left_col {
    padding: 25px 20px;
    text-align: center;
    max-width: 350px;
    position: relative;
    margin: 0 auto;
}
.wrap .in_container .left_col .profile {
    position: absolute;
    top: -50px;
    left: 15%;
    transform: translateX(-50%);
}
.wrap .in_container .left_col .profile img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0,0,0, 0.18);
}
.wrap .in_container .left_col .profile span {
    position: absolute;
    background: #2afa6a;
    left: 205%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 3px;
    right: 11px;
    border: 2px solid white;
    transition: 0.5s ease;
}
.wrap .in_container .left_col .profile .offline {
    position: absolute;
    background: white;
    left: 205%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 3px;
    right: 11px;
    border: 2px solid white;
    transition: 0.5s ease;
}
.wrap .in_container .left_col h2 {
    margin-top: 60px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
}
.wrap .in_container .left_col p {
    font-size: 0.9rem;
    color: #818181;
    margin: 0;
}
.wrap .in_container .left_col .about {
    justify-content: space-between;
    position: relative;
    margin: 35px 0;
}
.wrap .in_container .left_col .about li {
    display: flex;
    flex-direction: column;
    color: #818181;
    font-size: 0.9rem;
}
.wrap .in_container .left_col .about li span {
    color: #1d1d1d;
    font-weight: 600;
}
.wrap .in_container .left_col .about::after {
    position: absolute;
    content: "";
    bottom: -16px;
    display: block;
    background: #ccc;
    height: 1px;
    width: 100%;
}
.wrap .in_container .content p {
    font-size: 1rem;
    color: #1d1d1d;
    line-height: 1.8rem;
}
.wrap .in_container .content ul {
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.wrap .in_container .content ul li {
    font-size: 1.3rem;
}
.wrap .in_container .right_col nav {
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
    flex-direction: column;
}
.wrap .in_container .right_col nav ul {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.wrap .in_container .right_col nav ul li a {
    text-transform: uppercase;
    color: #818181;
}
.wrap .in_container .right_col nav button {
    size: 10px;
    background: skyblue;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 25px;
}
.wrap .in_container .right_col nav ul li:nth-child(1) a {
    color: #1d1d1d;
    font-weight: 600;
}
.wrap .in_container .right_col nav button:hover {
    opacity: 0.8;
}
.wrap .in_container .right_col .photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
}
.wrap .in_container .right_col .photos img {
    max-width: 00%;
    display: block;
    height: 100%;
    object-fit: cover;
}
.wrap .in_container .right_col .photos h1 {
    color: #818181;
    font-size: 1.5rem;
    left: 15%;
    transform: translateX(70%);
}

@media (min-width: 868px) {
    .wrap .in_container {
        max-width: 1200px;
        margin: 0 auto;
        width: 90%;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 50px;
    }
    .wrap .in_container .left_col {
        padding: 25px 0;
    }
    .wrap .in_container .right_col nav ul {
        flex-direction: row;
        gap: 30px;
    }
    .wrap .in_container .right_col .photos {
        height: 365px;
        overflow: auto;
        padding: 0 0 30px;
    }
}

@media (min-width: 868px) {
    .wrap .in_container .left_col {
        margin: 0;
        margin-right: auto;
    }
    .wrap .in_container .right_col nav {
        flex-direction: row;
    }
    .wrap .in_container .right_col nav button {
        margin-top: 0;
    }
 }